.softwareSubTitleMain {
  width: 100%;
  height: auto;
}

.softwareSubTitleContainer {
  padding: 120px 40px;
  max-width: 1640px;
  margin: 0 auto;
}

.softwareSubTitleSub {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.PageIntroStroke {
  width: 100%;
  height: 44px;
  clip-path: polygon(
    100% 0%,
    100% 4.598%,
    100% 100%,
    0% 100%,
    0% 94.318%,
    67.083% 95.455%,
    69.896% 0%,
    100% 0%
  );
  margin-bottom: -1px;
  background: #9f1c20;
}
//game mode------ styless

.gameModeSubDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.headingDiv {
  h3 {
    color: #040707;
    text-align: center;
    font-size: 44px;
    font-style: italic;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.88px;
    text-transform: uppercase;
    span {
      color: #9f1c20;
    }
  }

  p {
    // max-width: 1212px;
    margin: 0 auto;
    // margin-top: 10px;
    color: #636363;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.44px;
  }
}

.PageIntroStroke {
  width: 100%;
  height: 44px;
  clip-path: polygon(
    100% 2.299%,
    100% 4.598%,
    100% 100%,
    0% 98.851%,
    0% 91.954%,
    67.083% 96.552%,
    69.896% 0%,
    100% 2.299%
  );
  background: #9f1c20;
  margin-bottom: -1px;
}
//gamemode grid styles---------
.gameModeGridDiv {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.gameModeGridItem {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  flex: 1 0 0;
  align-self: stretch;
  border: 1px solid rgba(159, 28, 32, 0.3);
}
.gameModeGridItemImg {
  width: 56px;
  height: 56px;
  aspect-ratio: 1/1;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.gameModeGridItemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.gridItemTitle {
  color: #9f1c20;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.gridItemDesc {
  align-self: stretch;
  color: #636363;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.4px;
}
//App for All VR Business Tasks div styles --------

.appTaskSubDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.appTaskImgDiv {
  background: #9f1c20;
  max-width: 717px;
  flex: 1;

  clip-path: polygon(
    97.371% 0%,
    12.665% 0%,
    0% 14.772%,
    0% 100%,
    66.398% 100%,
    68.45% 100%,
    100% 100%,
    100% 37.887%,
    97.371% 31.17%,
    97.371% 0%
  );

  padding-left: 11px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;

  img {
    clip-path: polygon(
      97.371% 0%,
      12.665% 0%,
      0% 14.772%,
      0% 100%,
      66.398% 100%,
      68.45% 100%,
      100% 100%,
      100% 37.887%,
      97.371% 31.17%,
      97.371% 0%
    );

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.appTaskContentDiv {
  max-width: 764px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
}

.appTaskHeadingDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  h4,
  h5 {
    color: #040707;
    font-size: 44px;
    font-style: italic;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.88px;
    text-transform: uppercase;

    span {
      color: #9f1c20;
    }
  }
  p {
    color: #636363;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.4px;
    align-self: stretch;
  }
  h5 {
    display: none;
  }
}

.appTaskInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
#appTaskGridDiv {
  grid-template-columns: repeat(2, 1fr);
}
.featureTitle {
  color: #9f1c20;
  font-size: 23px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.46px;
  text-transform: uppercase;
}

.rtl {
  // direction: rtl;
  .gameModeSubDiv {
    direction: rtl;
  }
  .appTaskContentDiv {
    direction: rtl;
  }
}
.rtl * {
  font-family: "Tajawal", sans-serif;
}

@media only screen and (max-width: 1599px) {
  .softwareSubTitleContainer {
    padding: 100px 40px;
  }
  .softwareSubTitleSub {
    gap: 100px;
  }
  .PageIntroStroke {
    height: 40px;
  }
  //gamemode styles--
  .gameModeSubDiv {
    gap: 40px;
  }
  .headingDiv {
    h3 {
      font-size: 42px;
      line-height: 52px;
    }

    p {
      //   max-width: 980px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  .gameModeGridDiv {
    gap: 20px;
  }
  .gameModeGridItemImg {
    width: 50px;
    height: 50px;
  }
  .gridItemTitle {
    font-size: 18px;
  }

  .gridItemDesc {
    font-size: 18px;
    line-height: 30px;
  }
  //   business task
  .appTaskSubDiv {
    gap: 40px;
  }

  .appTaskHeadingDiv {
    h4,
    h5 {
      font-size: 38px;
      line-height: 49px;
    }
    p {
      //   max-width: 764px;
      font-size: 18px;
      line-height: 26px;
    }
  }

  .appTaskInfo {
    gap: 16px;
  }
  .featureTitle {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1366px) {
  .softwareSubTitleContainer {
    padding: 80px 40px;
  }
  .softwareSubTitleSub {
    gap: 80px;
  }
  .PageIntroStroke {
    height: 38px;
  }
  //gamemode styles--
  .gameModeTitleContainer {
    padding: 80px 40px;
  }
  .gameModeSubDiv {
    gap: 30px;
  }
  .headingDiv {
    h3 {
      font-size: 40px;
      line-height: 50px;
    }

    p {
      //   max-width: 940px;
      font-size: 18px;
      line-height: 26px;
    }
  }

  .gameModeGridDiv {
    gap: 20px;
  }
  //   business task
  .appTaskContentDiv {
    max-width: 100%;
    width: 100%;
    gap: 20px;
  }
  .appTaskSubDiv {
    gap: 40px;
    flex-direction: column;
  }

  .appTaskHeadingDiv {
    gap: 5px;
    h4,
    h5 {
      display: block;
      font-size: 32px;
      line-height: 43px;
    }
    h4 {
      display: none;
    }
  }

  .appTaskInfo {
    gap: 16px;
    li {
      font-size: 16px;
      line-height: 28px;
    }
  }
  // #appTaskGridDiv {
  //   grid-template-columns: 1fr;
  // }
}

@media only screen and (max-width: 1199px) {
  .softwareSubTitleContainer {
    padding: 60px 30px;
  }
  .softwareSubTitleSub {
    gap: 60px;
  }
  .PageIntroStroke {
    height: 36px;
  }
  //gamemode styles--

  .gameModeTitleContainer {
    padding: 60px 30px;
  }
  .gameModeSubDiv {
    gap: 20px;
  }

  .headingDiv {
    h3 {
      font-size: 36px;
      line-height: 46px;
    }

    p {
      //   max-width: 860px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .gameModeGridDiv {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .gameModeGridItemImg {
    width: 52px;
    height: 52px;
  }
  //   business task
  .appTaskSubDiv {
    gap: 30px;
    flex-direction: column;
  }

  .appTaskContentDiv {
    width: 100%;
  }

  .appTaskHeadingDiv {
    h4,
    h5 {
      font-size: 26px;
      line-height: 37px;
    }
    p {
      //   max-width: 764px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .appTaskInfo {
    gap: 14px;
  }

  .appTaskImgDiv {
    min-width: 464px;
  }
  #appTaskGridDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .PageIntroStroke {
    height: 32px;
  }
  .headingDiv {
    h3 {
      font-size: 28px;
      line-height: 40px;
    }
    p {
      max-width: 720px;
    }
  }
  //   business task
  .appTaskSubDiv {
    gap: 40px;
    flex-direction: column;
  }

  .appTaskContentDiv {
    width: 100%;
    // max-width: 541px;
  }

  .appTaskHeadingDiv {
    h4,
    h5 {
      font-size: 22px;
      line-height: 33px;
    }
  }

  .appTaskImgDiv {
    min-width: 464px;
    max-width: 541px;
  }
}

@media only screen and (max-width: 767px) {
  .softwareSubTitleContainer {
    padding: 60px 20px;
  }
  .PageIntroStroke {
    height: 28px;
  }

  .headingDiv {
    h3 {
      font-size: 24px;
      line-height: 38px;
    }
    p {
      max-width: 580px;
    }

    // p {
    //   font-size: 15px;
    //   line-height: 23px;
    // }
  }

  // .gameModeGridDiv {
  //   grid-template-columns: 1fr;
  //   gap: 40px;
  // }
  .gameModeGridDiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .gridItemTitle {
    font-size: 16px;
  }

  .gridItemDesc {
    font-size: 16px;
    line-height: 28px;
  }
  //   business task

  .appTaskContentDiv {
    // max-width: 511px;
  }
  .appTaskSubDiv {
    gap: 30px;
  }

  .appTaskImgDiv {
    min-width: 0;
    max-width: 511px;
    overflow: hidden;
  }

  .appTaskInfo {
    li {
      font-size: 15px;
      line-height: 27px;
    }
  }
  .gameModeGridItemImg {
    width: 48px;
    height: 48px;
  }
  #appTaskGridDiv {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .featureTitle {
    font-size: 18px;
  }
}

@media only screen and (max-width: 575px) {
  .PageIntroStroke {
    height: 26px;
  }
  .headingDiv {
    width: 100%;
    h3 {
      text-align: left;
      font-size: 22px;
      line-height: 34px;
    }
  }

  .gameModeGridDiv {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  //   business task
  .appTaskContentDiv {
    // max-width: 439px;
  }
  .appTaskSubDiv {
    gap: 20px;
  }

  .appTaskImgDiv {
    max-width: 100%;
  }
}
@media only screen and (max-width: 479px) {
  //   business task
  .appTaskContentDiv {
    max-width: 100%;
  }

  .appTaskImgDiv {
    max-width: 100%;
  }

  .PageIntroStroke {
    height: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .PageIntroStroke {
    height: 22px;
  }
}
