.whyVionvrTitleMain {
  width: 100%;
  height: auto;
}

.whyVionvrTitleContainer {
  padding: 120px 40px;
  max-width: 1640px;
  margin: 0 auto;
}

.whyVionvrTitleSub {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.headingDiv {
  h3 {
    color: #040707;
    text-align: center;
    font-size: 44px;
    font-style: italic;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.88px;
    text-transform: uppercase;
    span {
      color: #9f1c20;
    }
  }

  p {
    // max-width: 1212px;
    margin: 0 auto;
    // margin-top: 10px;
    color: #636363;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.44px;
  }
}
.PageIntroStroke {
  width: 100%;
  height: 44px;
  clip-path: polygon(
    100% 0%,
    100% 4.598%,
    100% 100%,
    0% 100%,
    0% 94.318%,
    67.083% 95.455%,
    69.896% 0%,
    100% 0%
  );
  margin-bottom: -1px;
  background: #9f1c20;
}

//whyvionvr grid styles---------
.whyVionvrGridDiv {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.whyVionvrGridItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}
.whyVionvrGridItemImg {
  width: 56px;
  height: 56px;
  aspect-ratio: 1/1;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.whyVionvrGridItemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.gridItemTitle {
  color: #9f1c20;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.gridItemDesc {
  align-self: stretch;
  color: #636363;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.4px;
}
//video styles------
.videoMainDiv {
  width: 100%;
  height: 100%;
}
.videoContainer {
  position: relative;

  video {
    display: block;
    width: 100%;
    min-height: 888px;
    max-height: 888px;
    object-fit: cover;
  }
}
.videoPause {
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );

  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
    max-width: 49px;
  }
}
.rtl {
  direction: rtl;
}
.rtl * {
  font-family: "Tajawal", sans-serif;
}
@media only screen and (max-width: 1599px) {
  .whyVionvrTitleContainer {
    padding: 100px 40px;
  }
  .whyVionvrTitleSub {
    gap: 40px;
  }
  .headingDiv {
    h3 {
      font-size: 42px;
      line-height: 52px;
    }

    p {
      //   max-width: 980px;
      font-size: 20px;
      line-height: 28px;
    }
  }
  .PageIntroStroke {
    height: 40px;
  }
  .whyVionvrGridDiv {
    gap: 25px;
  }
  .whyVionvrGridItemImg {
    width: 50px;
    height: 50px;
  }
  .gridItemTitle {
    font-size: 18px;
  }

  .gridItemDesc {
    font-size: 18px;
    line-height: 28px;
  }
  .videoContainer {
    video {
      min-height: 700px;
      max-height: 700px;
    }
  }
  .videoPause {
    img {
      max-width: 48px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .whyVionvrTitleContainer {
    padding: 80px 40px;
  }
  .whyVionvrTitleSub {
    gap: 30px;
  }
  .headingDiv {
    h3 {
      font-size: 40px;
      line-height: 50px;
    }

    p {
      //   max-width: 940px;
      font-size: 18px;
      line-height: 26px;
    }
  }
  .PageIntroStroke {
    height: 38px;
  }
  .whyVionvrGridDiv {
    gap: 20px;
  }
  .videoContainer {
    video {
      min-height: 600px;
      max-height: 600px;
    }
  }
  .videoPause {
    img {
      max-width: 44px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .whyVionvrTitleContainer {
    padding: 60px 30px;
  }
  .whyVionvrTitleSub {
    gap: 20px;
  }

  .headingDiv {
    h3 {
      font-size: 36px;
      line-height: 46px;
    }

    p {
      //   max-width: 860px;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .PageIntroStroke {
    height: 36px;
  }
  .whyVionvrGridDiv {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .whyVionvrGridItemImg {
    width: 52px;
    height: 52px;
  }
  .videoContainer {
    video {
      min-height: 500px;
      max-height: 500px;
    }
  }
  .videoPause {
    img {
      max-width: 42px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .headingDiv {
    h3 {
      font-size: 28px;
      line-height: 40px;
    }
    p {
      max-width: 720px;
    }
  }
  .PageIntroStroke {
    height: 32px;
  }
  //   .whyVionvrGridDiv {
  //     grid-template-columns: repeat(2, 1fr);
  //     gap: 30px;
  //   }
  .videoContainer {
    video {
      min-height: 400px;
      max-height: 400px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .whyVionvrTitleContainer {
    padding: 60px 20px;
  }

  .headingDiv {
    h3 {
      font-size: 24px;
      line-height: 38px;
    }
    p {
      max-width: 580px;
    }

    // p {
    //   font-size: 15px;
    //   line-height: 23px;
    // }
  }
  .PageIntroStroke {
    height: 28px;
  }
  // .whyVionvrGridDiv {
  //   grid-template-columns: 1fr;
  //   gap: 40px;
  // }
  .whyVionvrGridDiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .gridItemTitle {
    font-size: 16px;
  }

  .gridItemDesc {
    font-size: 16px;
    line-height: 26px;
  }
  .videoPause {
    img {
      max-width: 40px;
    }
  }
  .whyVionvrGridItemImg {
    width: 48px;
    height: 48px;
  }
}

@media only screen and (max-width: 575px) {
  .headingDiv {
    width: 100%;
    h3 {
      text-align: left;
      font-size: 22px;
      line-height: 34px;
    }
  }
  .PageIntroStroke {
    height: 26px;
  }
  .whyVionvrGridDiv {
    gap: 35px;
  }
  .whyVionvrGridDiv {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .videoContainer {
    video {
      min-height: 380px;
      max-height: 380px;
    }
  }
  .videoPause {
    img {
      max-width: 36px;
    }
  }
}
@media only screen and (max-width: 479px) {
  .PageIntroStroke {
    height: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .PageIntroStroke {
    height: 22px;
  }
}
