.ourDesignMainDiv {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 0;
  margin: 0;
}
.ourDesignClipPathDiv {
  width: 100%;
  height: 44px;
  clip-path: polygon(
    0% 100%,
    0% 95.402%,
    0% 0%,
    100% 0%,
    100% 4.545%,
    32.917% 4.545%,
    30.104% 100%,
    0% 100%
  );
  margin-top: -1px;

  background: #9f1c20;
}
.ourDesignContainer {
  max-width: 1482px;
  margin: 0 auto;
  padding: 120px 40px;
}

.ourDesignSubDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}

.ourDesignHeading {
  color: #040707;
  text-align: center;
  font-size: 54px;
  font-style: italic;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1.08px;
  text-transform: uppercase;
  span {
    color: #9f1c20;
  }
}

// New slider styles
.ourDesignSliderMainDiv {
  width: 100%;
  //   max-width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 27px;
}

.swiperContainer {
  flex: 1;
  overflow: hidden;
  :global(.swiper-slide) {
    width: 100% !important;
    background: #9f1c20 !important;
    padding: 20px !important;
    // margin: 0 auto !important;
    margin-top: 46px !important;
    // max-width: 1231px !important;
  }
}

.navigationButtonsContainer {
  display: none; /* Hidden by default, shown only on mobile */
}

.arenaSwiper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  //   overflow: hidden;
  //   border: 6px solid #9f1c20;
  //   clip-path: polygon(
  //     98.825% 0%,
  //     7.855% 0%,
  //     0% 12.406%,
  //     0% 99.94%,
  //     77.94% 99.94%,
  //     80.463% 100%,
  //     100% 100%,
  //     100% 30.26%,
  //     98.825% 27.855%,
  //     98.825% 0%
  //   );
}
.slideImageContainerWrapper {
  width: 100%;
  //   max-width: 1231px;
  // background: #9f1c20;
  margin: 0 auto;
}

.slideImageContainer {
  width: 100%;
  max-width: 1191px;
  margin: 0 auto;
  height: 100%;
  //   background: #9f1c20;
  //   position: relative;
  //   overflow: hidden;
  margin-top: -46px;
  z-index: 5;
}

.arenaImage {
  width: 100%;
  height: 100%;
  //   object-fit: cover;
  display: block;
  clip-path: polygon(
    98.825% 0%,
    7.855% 0%,
    0% 12.406%,
    0% 99.94%,
    77.94% 99.94%,
    80.463% 100%,
    100% 100%,
    100% 30.26%,
    98.825% 27.855%,
    98.825% 0%
  );
}
.navButtonWrapperNext,
.navButtonWrapperPrev {
  padding: 1.1px;
  background: #9f1c20;
  border: none;
  position: relative;
  z-index: 10;

  &.disabled {
    background: #666;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
}
.navButtonWrapperNext {
  clip-path: polygon(
    1.657% 1.895%,
    77.25% 1.895%,
    100% 26.421%,
    100% 100%,
    33.436% 100%,
    18.269% 100%,
    1.657% 100%,
    1.657% 34.27%,
    1.657% 26.421%,
    1.657% 1.895%
  );
}
.navButtonWrapperPrev {
  clip-path: polygon(
    100% 1.895%,
    24.406% 1.895%,
    1.656% 26.421%,
    1.656% 100%,
    68.221% 100%,
    83.387% 100%,
    100% 100%,
    100% 34.27%,
    100% 26.421%,
    100% 1.895%
  );
}
.navButton {
  width: 57.9px;
  height: 51px;
  //   border-radius: 50%;
  background: #9f1c20;
  border: none;
  color: #040707;
  // font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  //   flex-shrink: 0;

  &.disabled {
    // background: #666;
    cursor: not-allowed;
    opacity: 0.5;

    // svg path {
    //   stroke: #999 !important;
    // }

    &:hover {
      background: #666 !important;

      //   svg path {
      //     stroke: #999 !important;
      //   }
    }
  }

  &:hover {
    &.prevButton {
      clip-path: polygon(
        100% 1.895%,
        24.406% 1.895%,
        1.656% 26.421%,
        1.656% 100%,
        68.221% 100%,
        83.387% 100%,
        100% 100%,
        100% 34.27%,
        100% 26.421%,
        100% 1.895%
      );
    }
  }
  &:hover {
    &.nextButton {
      clip-path: polygon(
        1.657% 1.895%,
        77.25% 1.895%,
        100% 26.421%,
        100% 100%,
        33.436% 100%,
        18.269% 100%,
        1.657% 100%,
        1.657% 34.27%,
        1.657% 26.421%,
        1.657% 1.895%
      );
    }
  }

  &:hover {
    background: #fff;
    // transform: scale(1.05);
    // box-shadow: 0 5px 15px rgba(159, 28, 32, 0.4);
    svg {
      color: #9f1c20;
      path {
        stroke: #9f1c20;
      }
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

// arabic translation
.rtl {
  direction: rtl;

  .navButtonWrapperPrev {
    clip-path: polygon(
      1.657% 1.895%,
      77.25% 1.895%,
      100% 26.421%,
      100% 100%,
      33.436% 100%,
      18.269% 100%,
      1.657% 100%,
      1.657% 34.27%,
      1.657% 26.421%,
      1.657% 1.895%
    );

    svg {
      transform: rotate(180deg);
    }
  }

  .navButtonWrapperNext {
    clip-path: polygon(
      100% 1.895%,
      24.406% 1.895%,
      1.656% 26.421%,
      1.656% 100%,
      68.221% 100%,
      83.387% 100%,
      100% 100%,
      100% 34.27%,
      100% 26.421%,
      100% 1.895%
    );
    svg {
      transform: rotate(180deg);
    }
  }

  .navButton {
    &:hover {
      &.prevButton {
        clip-path: polygon(
          1.657% 1.895%,
          77.25% 1.895%,
          100% 26.421%,
          100% 100%,
          33.436% 100%,
          18.269% 100%,
          1.657% 100%,
          1.657% 34.27%,
          1.657% 26.421%,
          1.657% 1.895%
        );
      }
    }
    &:hover {
      &.nextButton {
        clip-path: polygon(
          100% 1.895%,
          24.406% 1.895%,
          1.656% 26.421%,
          1.656% 100%,
          68.221% 100%,
          83.387% 100%,
          100% 100%,
          100% 34.27%,
          100% 26.421%,
          100% 1.895%
        );
      }
    }
  }
}

.rtl * {
  font-family: "Tajawal", sans-serif;
}

@media only screen and (max-width: 1599px) {
  .ourDesignContainer {
    max-width: 1280px;
    padding: 120px 40px;
    // padding: 100px 30px;
  }

  .ourDesignHeading {
    font-size: 48px;
    line-height: 64px;
  }

  .slideImageContainer {
    // height: 450px;
  }

  .navButton {
    width: 52px;
    height: 52px;
    // font-size: 22px;
  }

  .ourDesignClipPathDiv {
    height: 40px;
  }
}

@media only screen and (max-width: 1366px) {
  .ourDesignContainer {
    max-width: 1121px;
    padding: 120px 40px;
    // padding: 80px 25px;
  }

  .ourDesignSubDiv {
    gap: 50px;
  }

  .ourDesignHeading {
    font-size: 42px;
    line-height: 58px;
  }

  .slideImageContainer {
    // height: 400px;
  }

  .navButton {
    width: 48px;
    height: 48px;
    // font-size: 20px;
  }

  .ourDesignClipPathDiv {
    height: 38px;
  }
}

@media only screen and (max-width: 1199px) {
  .ourDesignContainer {
    max-width: 940px;
    padding: 100px 30px;
    // padding: 60px 20px;
  }

  .ourDesignSubDiv {
    gap: 40px;
  }

  .ourDesignHeading {
    font-size: 36px;
    line-height: 52px;
  }

  .slideImageContainer {
    // height: 350px;
  }

  .ourDesignSliderMainDiv {
    gap: 15px;
  }

  .navButton {
    width: 44px;
    height: 44px;
    // font-size: 18px;
  }

  .ourDesignClipPathDiv {
    height: 36px;
  }
}

@media only screen and (max-width: 1024px) {
  .ourDesignContainer {
    // max-width: 100% !important;
    // padding: 50px 20px;
  }

  .ourDesignSubDiv {
    gap: 30px;
  }

  .ourDesignHeading {
    font-size: 28px;
    line-height: 46px;
  }

  .slideImageContainer {
    // height: 300px;
  }

  .ourDesignSliderMainDiv {
    flex-direction: column;
    gap: 20px;
  }
  .swiperContainer {
    order: 1;
    width: 100%;
  }

  .navButton {
    width: 40px;
    height: 40px;
    // font-size: 16px;
    position: relative;
  }

  .navigationButtonsContainer {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }

  .navButtonWrapperPrev,
  .navButtonWrapperNext {
    margin: 0;
  }

  .ourDesignClipPathDiv {
    height: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .ourDesignContainer {
    padding: 80px 20px;
    // padding: 40px 20px;
  }

  .ourDesignSubDiv {
    gap: 25px;
  }

  .ourDesignHeading {
    font-size: 24px;
    line-height: 42px;
  }

  .slideImageContainer {
    // height: 250px;
    margin-top: -26px;
  }

  .navigationButtonsContainer {
    gap: 15px;
    margin-top: 0px;
  }
  .swiperContainer {
    :global(.swiper-slide) {
      padding: 10px !important;
      // margin: 0 auto !important;
      margin-top: 26px !important;
      // max-width: 1231px !important;
    }
  }

  .ourDesignClipPathDiv {
    height: 28px;
  }
}

@media only screen and (max-width: 575px) {
  .ourDesignHeading {
    font-size: 22px;
    line-height: 40px;
  }

  .slideImageContainer {
    // height: 220px;
  }

  .navButton {
    width: 36px;
    height: 36px;
    // font-size: 14px;
  }

  .ourDesignClipPathDiv {
    height: 26px;
  }
}

@media only screen and (max-width: 479px) {
  // .ourDesignContainer {
  //   padding: 30px 20px;
  // }

  .slideImageContainer {
    // height: 200px;
  }

  .navButton {
    width: 40px;
    height: 40px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .ourDesignClipPathDiv {
    height: 24px;
  }
}

@media only screen and (max-width: 375px) {
  // .ourDesignContainer {
  //   padding: 25px 20px;
  // }

  .slideImageContainer {
    // height: 180px;
  }
  .navButton {
    width: 32px;
    height: 32px;
    // font-size: 12px;
  }

  .ourDesignClipPathDiv {
    height: 22px;
  }
}
