.getInTouchMain {
  width: 100%;
  height: auto;
}

.getInTouchContainer {
  max-width: 1640px;
  margin: 0 auto;
  padding: 150px 40px 120px 40px;
  padding-top: 0px !important;
}
.PageIntroStroke {
  width: 100%;
  height: 44px;
  clip-path: polygon(
    100% 2.299%,
    100% 4.598%,
    100% 100%,
    0% 98.851%,
    0% 91.954%,
    67.083% 96.552%,
    69.896% 0%,
    100% 2.299%
  );
  background: #9f1c20;
}
.getInTouchSub {
  width: 100%;
  background: #fff;
  display: flex;
  gap: 58px;
  margin: 0 auto;
}

.getInTouchContent {
  min-width: 653px;
}

.headingDiv {
  h3 {
    color: #040707;
    font-size: 54px;
    font-style: italic;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.08px;
    text-transform: uppercase;

    span {
      color: #9f1c20;
    }
  }

  p {
    margin-top: 14px;
    color: #636363;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.4px;
    max-width: 610px;
  }
}

.contactInfo {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contactItem {
  display: flex;
  gap: 20px;
}

.contactIcon {
  img {
    max-width: 32px;
    display: block;
  }
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    color: #636363;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.4px;
  }
}

///form

.form {
  flex: 1;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formLabel {
  color: #9f1c20;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.formInputWrapper {
  width: 100%;
  padding: 1px;
  background-color: #636363;
  height: fit-content;
  clip-path: polygon(
    99.239% 2.173%,
    99.239% 22.413%,
    100% 27.388%,
    100% 100%,
    93.192% 100%,
    91.923% 93.368%,
    0.254% 93.368%,
    0.254% 22.433%,
    3.603% 2.173%,
    99.239% 2.173%
  );
}

.textareaWrapper {
  display: inline-block;
  padding: 1px;
  background: #636363;
  clip-path: polygon(
    99.629% 0.696%,
    99.629% 10.883%,
    100% 13.386%,
    100% 100%,
    81.121% 100%,
    80.504% 96.662%,
    0.062% 96.662%,
    0.062% 10.892%,
    1.692% 0.696%,
    99.629% 0.696%
  );
}

.formInput,
.formTextarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: #fff;
  display: block;
  font-family: inherit;
  color: #636363;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;

  &::placeholder {
    color: #636363;
    font-family: inherit;
  }
}

.formInput {
  padding: 18px 15px;
  clip-path: polygon(
    99.239% 2.173%,
    99.239% 22.413%,
    100% 27.388%,
    100% 100%,
    93.192% 100%,
    91.923% 93.368%,
    0.254% 93.368%,
    0.254% 22.433%,
    3.603% 2.173%,
    99.239% 2.173%
  );
}

.formTextarea {
  padding: 14px 15px;
  height: 120px;
  clip-path: polygon(
    99.629% 0.696%,
    99.629% 10.883%,
    100% 13.386%,
    100% 100%,
    81.121% 100%,
    80.504% 96.662%,
    0.062% 96.662%,
    0.062% 10.892%,
    1.692% 0.696%,
    99.629% 0.696%
  );

  resize: none;
}

.errorMessage {
  color: #ef4444;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 0px;
}

.readmoreBtnWrapper {
  margin-top: 10px;
  width: fit-content;
  background: #fff;
  padding: 1.1px;
  transition: all 0.6s ease;
  clip-path: polygon(
    98.522% 0.917%,
    7.143% 0.917%,
    0.493% 23.853%,
    0.493% 92.661%,
    83.99% 92.661%,
    86.453% 100%,
    100% 100%,
    100% 29.358%,
    98.522% 23.853%,
    98.522% 0.917%
  );

  &:hover {
    background: #9f1c20;
    .readmoreBtn {
      background: #fff;
      transition: all 0.6s ease;
    }
    .readmoreBtnContent {
      p {
        transition: all 0.6s ease;
        color: #9f1c20;
      }
      transition: all 0.6s ease;
      svg {
        path {
          stroke: #9f1c20;
          transition: all 0.6s ease;
        }
      }
    }
  }
}
.readmoreBtn {
  width: fit-content;
  transition: all 0.6s ease;
  padding: 14px 54px 16px 54px;
  background: #9f1c20;
  outline: none;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  display: block;
  clip-path: polygon(
    98.522% 0.917%,
    7.143% 0.917%,
    0.493% 23.853%,
    0.493% 92.661%,
    83.99% 92.661%,
    86.453% 100%,
    100% 100%,
    100% 29.358%,
    98.522% 23.853%,
    98.522% 0.917%
  );
}
.readmoreBtnContent {
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    transition: all 0.6s ease;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
  }
}

.readmoreBtnContent svg {
  max-width: 18px;
  path {
    transition: all 0.6s ease;
  }
}
.rtl {
  direction: rtl;

  .readmoreBtnContent svg {
    transform: rotate(180deg);
  }

  .formInput,
  .formTextarea {
    text-align: right;
  }
}

.rtl * {
  font-family: "Tajawal", sans-serif;
}
@media only screen and (max-width: 1599px) {
  .getInTouchSub {
    gap: 48px;
  }
  .PageIntroStroke {
    height: 42px;
  }
  .getInTouchContent {
    min-width: 580px;
  }

  .headingDiv {
    h3 {
      font-size: 48px;
      line-height: 64px;
    }

    p {
      margin-top: 14px;
      font-size: 18px;
      line-height: 30px;
      max-width: 530px;
    }
  }

  .contactInfo {
    margin-top: 28px;
  }

  .contactIcon {
    img {
      max-width: 28px;
    }
  }

  .contactDetails {
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .formLabel {
    font-size: 16px;
  }

  .formInput {
    padding: 18px 15px;
    clip-path: polygon(
      99.239% 2.173%,
      99.239% 22.413%,
      100% 27.388%,
      100% 100%,
      93.192% 100%,
      91.923% 93.368%,
      0.254% 93.368%,
      0.254% 22.433%,
      3.603% 2.173%,
      99.239% 2.173%
    );
  }

  .readmoreBtn {
    padding: 12px 46px 14px 46px;
  }

  .readmoreBtnContent {
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .readmoreBtnContent svg {
    max-width: 16px;
  }
}

@media only screen and (max-width: 1366px) {
  .getInTouchContainer {
    padding: 130px 40px 120px 40px;
  }

  .getInTouchSub {
    gap: 40px;
  }
  .PageIntroStroke {
    height: 40px;
  }
  .getInTouchContent {
    min-width: 510px;
  }

  .headingDiv {
    h3 {
      font-size: 42px;
      line-height: 58px;
    }

    p {
      margin-top: 12px;
      font-size: 16px;
      line-height: 28px;
      max-width: 461px;
    }
  }

  .contactInfo {
    margin-top: 24px;
  }

  .contactIcon {
    img {
      max-width: 24px;
    }
  }

  .contactDetails {
    p {
      font-size: 16px;
      line-height: 28px;
    }
  }

  .readmoreBtn {
    padding: 12px 40px 12px 40px;
  }

  .readmoreBtnContent {
    p {
      font-size: 16px;
      line-height: 28px;
    }
  }

  .formLabel {
    font-size: 16px;
  }

  .formInput {
    padding: 17px 15px;
  }

  .formTextarea {
    padding: 14px 15px;
  }
}

@media only screen and (max-width: 1199px) {
  .getInTouchContainer {
    padding: 120px 30px 120px 30px;
  }

  .getInTouchSub {
    gap: 40px;
  }
  .PageIntroStroke {
    height: 38px;
  }
  .headingDiv {
    h3 {
      font-size: 36px;
      line-height: 52px;
    }

    p {
      margin-top: 10px;
    }
  }

  .contactInfo {
    margin-top: 22px;
  }

  .readmoreBtn {
    padding: 12px 36px 12px 36px;
  }

  .getInTouchContent {
    min-width: 431px;
  }

  .form {
    flex: 1;
    min-width: 480px;
  }
}

@media only screen and (max-width: 1024px) {
  .getInTouchContent {
    min-width: 0;
  }
  .PageIntroStroke {
    height: 36px;
  }

  .form {
    min-width: 0;
  }
  .getInTouchSub {
    flex-direction: column;
    gap: 40px;
  }

  .getInTouchContainer {
    padding: 100px 30px 100px 30px;
  }

  .getInTouchContent {
    min-width: 100%;
  }

  .headingDiv {
    h3 {
      font-size: 28px;
      line-height: 46px;
    }

    p {
      max-width: 100%;
    }
  }

  .formInput {
    padding: 18px 15px;
  }

  .readmoreBtn {
    padding: 12px 32px 12px 32px;
  }
}

@media only screen and (max-width: 767px) {
  .getInTouchContainer {
    padding: 80px 20px 80px 20px;
  }
  .PageIntroStroke {
    height: 32px;
  }
  .headingDiv {
    h3 {
      font-size: 24px;
      line-height: 42px;
    }

    p {
      font-size: 15px;
      line-height: 27px;
    }
  }

  .contactInfo {
    margin-top: 20px;
  }

  .contactIcon {
    img {
      max-width: 22px;
    }
  }

  .contactDetails {
    p {
      font-size: 15px;
      line-height: 27px;
    }
  }

  .readmoreBtnContent {
    p {
      font-size: 15px;
      line-height: 27px;
    }
  }

  .formLabel {
    font-size: 15px;
  }

  .formInput,
  .formTextarea {
    font-size: 15px;
    line-height: 29px;
  }

  //   .formInput {
  //     padding: 17px 15px;
  //   }

  //   .formTextarea {
  //     padding: 14px 15px;
  //   }

  .formRow {
    gap: 20px;
  }

  .readmoreBtn {
    padding: 12px 28px 12px 28px;
  }
}

@media only screen and (max-width: 575px) {
  .formRow {
    grid-template-columns: 1fr;
  }
  .PageIntroStroke {
    height: 28px;
  }
  .headingDiv {
    h3 {
      font-size: 22px;
      line-height: 40px;
    }
  }

  .readmoreBtn {
    padding: 12px 24px 12px 24px;
  }

  .formTextarea {
    padding: 14px 15px;
    height: 100px;
  }
}

@media only screen and (max-width: 479px) {
  .readmoreBtn {
    padding: 12px 24px 12px 24px;
  }
}
