.testinomialsMainDiv {
  width: 100%;
  height: 100%;
  background: #fff;
}
.testinomialsClipPathDiv {
  width: 100%;
  height: 44px;
  clip-path: polygon(
    0% 97.701%,
    0% 95.402%,
    0% 0%,
    100% 1.149%,
    100% 8.046%,
    32.917% 3.448%,
    30.104% 100%,
    0% 97.701%
  );
  background: #9f1c20;
}
.testinomialsContainer {
  max-width: 1640px;
  margin: 0 auto;
  padding: 120px 40px;
  //   position: relative;
  //   z-index: 1;
}

.testinomialsSubDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}
.testinomialsHeading {
  color: #040707;
  text-align: center;
  font-size: 54px;
  font-style: italic;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1.08px;
  text-transform: uppercase;
  span {
    color: #9f1c20;
  }
}

// Testimonials Slider Styles
.testinomialsSliderMainDiv {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 48px;
}

.swiperContainer {
  flex: 1;
  overflow: hidden;
  :global(.swiper-slide) {
    height: auto !important;
  }
}

.navigationButtonsContainer {
  display: none; /* Hidden by default, shown only on mobile */
}

.testimonialsSwiper {
  width: 100%;
  // padding: 10px 0;
}
.testimonialCardClipPath {
  background: #9f1c20;
  padding: 1.2px;
  clip-path: polygon(
    99.789% 99.692%,
    66.93% 99.692%,
    66.889% 99.665%,
    62.993% 97.118%,
    0.211% 97.118%,
    0.211% 15.815%,
    0.288% 15.723%,
    12.968% 0.379%,
    13.026% 0.308%,
    97.907% 0.308%,
    97.907% 31.255%,
    99.732% 34.095%,
    99.789% 34.183%,
    99.789% 99.692%
  );
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.testimonialCard {
  background: white;
  padding: 40px 49px 42px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  transition: all 0.3s ease;
  align-items: stretch;
  clip-path: polygon(
    99.789% 99.692%,
    66.93% 99.692%,
    66.889% 99.665%,
    62.993% 97.118%,
    0.211% 97.118%,
    0.211% 15.815%,
    0.288% 15.723%,
    12.968% 0.379%,
    13.026% 0.308%,
    97.907% 0.308%,
    97.907% 31.255%,
    99.732% 34.095%,
    99.789% 34.183%,
    99.789% 99.692%
  );
}

.testimonialHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6.277px;
}

.star {
  width: 14px;
  height: 14px;
  transition: color 0.2s ease;

  &.filled {
    color: #9f1c20;
  }
}

.testimonialTitle {
  align-self: stretch;
  color: #040707;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.testimonialContent {
  color: #636363;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
  flex: 1;
}

.testimonialFooter {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 22.167px;
  aspect-ratio: 1/1;
  //   border-radius: 50%;
  background: #1a1918;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.32px;
  flex-shrink: 0;
}

.authorInfo {
  display: flex;
  align-items: center;
  // flex-direction: column;
  gap: 2px;
}

.authorName {
  color: #040707;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.36px;
}

.authorPosition {
  color: #040707;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.3px;
}
.navButtonWrapperNext,
.navButtonWrapperPrev {
  padding: 1.1px;
  background: #9f1c20;
  border: none;
  position: relative;
  z-index: 10;

  &.disabled {
    background: #666;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
}
.navButtonWrapperNext {
  clip-path: polygon(
    1.657% 1.895%,
    77.25% 1.895%,
    100% 26.421%,
    100% 100%,
    33.436% 100%,
    18.269% 100%,
    1.657% 100%,
    1.657% 34.27%,
    1.657% 26.421%,
    1.657% 1.895%
  );
}
.navButtonWrapperPrev {
  clip-path: polygon(
    100% 1.895%,
    24.406% 1.895%,
    1.656% 26.421%,
    1.656% 100%,
    68.221% 100%,
    83.387% 100%,
    100% 100%,
    100% 34.27%,
    100% 26.421%,
    100% 1.895%
  );
}
.navButton {
  width: 57.9px;
  height: 51px;
  //   border-radius: 50%;
  background: #9f1c20;
  border: none;
  color: #040707;
  // font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  //   flex-shrink: 0;

  &.disabled {
    // background: #666;
    cursor: not-allowed;
    opacity: 0.5;

    // svg path {
    //   stroke: #999 !important;
    // }

    &:hover {
      background: #666 !important;

      //   svg path {
      //     stroke: #999 !important;
      //   }
    }
  }

  &:hover {
    &.prevButton {
      clip-path: polygon(
        100% 1.895%,
        24.406% 1.895%,
        1.656% 26.421%,
        1.656% 100%,
        68.221% 100%,
        83.387% 100%,
        100% 100%,
        100% 34.27%,
        100% 26.421%,
        100% 1.895%
      );
    }
  }
  &:hover {
    &.nextButton {
      clip-path: polygon(
        1.657% 1.895%,
        77.25% 1.895%,
        100% 26.421%,
        100% 100%,
        33.436% 100%,
        18.269% 100%,
        1.657% 100%,
        1.657% 34.27%,
        1.657% 26.421%,
        1.657% 1.895%
      );
    }
  }

  &:hover {
    background: #fff;
    // transform: scale(1.05);
    // box-shadow: 0 5px 15px rgba(159, 28, 32, 0.4);
    svg {
      color: #9f1c20;
      path {
        stroke: #9f1c20;
      }
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.rtl {
  direction: rtl;

  .navButtonWrapperPrev {
    clip-path: polygon(
      1.657% 1.895%,
      77.25% 1.895%,
      100% 26.421%,
      100% 100%,
      33.436% 100%,
      18.269% 100%,
      1.657% 100%,
      1.657% 34.27%,
      1.657% 26.421%,
      1.657% 1.895%
    );

    svg {
      transform: rotate(180deg);
    }
  }

  .navButtonWrapperNext {
    clip-path: polygon(
      100% 1.895%,
      24.406% 1.895%,
      1.656% 26.421%,
      1.656% 100%,
      68.221% 100%,
      83.387% 100%,
      100% 100%,
      100% 34.27%,
      100% 26.421%,
      100% 1.895%
    );
    svg {
      transform: rotate(180deg);
    }
  }

  .navButton {
    &:hover {
      &.prevButton {
        clip-path: polygon(
          1.657% 1.895%,
          77.25% 1.895%,
          100% 26.421%,
          100% 100%,
          33.436% 100%,
          18.269% 100%,
          1.657% 100%,
          1.657% 34.27%,
          1.657% 26.421%,
          1.657% 1.895%
        );
      }
    }
    &:hover {
      &.nextButton {
        clip-path: polygon(
          100% 1.895%,
          24.406% 1.895%,
          1.656% 26.421%,
          1.656% 100%,
          68.221% 100%,
          83.387% 100%,
          100% 100%,
          100% 34.27%,
          100% 26.421%,
          100% 1.895%
        );
      }
    }
  }
}

.rtl * {
  font-family: "Tajawal", sans-serif;
}

@media only screen and (max-width: 1599px) {
  .testinomialsContainer {
    // max-width: 1280px !important;
    padding: 120px 40px;
    // padding: 100px 30px;
  }

  /* Check 1367px and add css here */
  .testinomialsHeading {
    font-size: 48px;
    line-height: 64px;
  }

  .testimonialCard {
    padding: 40px 40px 42px;
    // padding: 28px;
  }

  .testimonialTitle {
    font-size: 18px;
    line-height: 26px;
  }

  .navButton {
    width: 52px;
    height: 52px;
    // font-size: 22px;

    // &.disabled {
    //   background: #666;
    //   cursor: not-allowed;
    //   opacity: 0.5;

    //   svg path {
    //     stroke: #999 !important;
    //   }

    //   &:hover {
    //     background: #666 !important;

    //     svg path {
    //       stroke: #999 !important;
    //     }
    //   }
    // }
  }
}
@media only screen and (max-width: 1366px) {
  .testinomialsContainer {
    // max-width: 1121px !important;
    padding: 120px 40px;
    // padding: 80px 25px;
  }
  /* Check 1200px and add css here */
  .testinomialsSubDiv {
    gap: 50px;
  }
  .testinomialsHeading {
    font-size: 42px;
    line-height: 58px;
  }

  .testimonialCard {
    padding: 40px 36px 42px;
    // padding: 24px;
    gap: 20px;
  }

  .testimonialTitle {
    font-size: 16px;
    line-height: 24px;
  }

  .testimonialContent {
    font-size: 15px;
    line-height: 22px;
  }
  .authorName {
    font-size: 16px;
    line-height: 24px;
  }

  .navButton {
    width: 48px;
    height: 48px;
    // font-size: 20px;

    // &.disabled {
    //   background: #666;
    //   cursor: not-allowed;
    //   opacity: 0.5;

    //   svg path {
    //     stroke: #999 !important;
    //   }

    //   &:hover {
    //     background: #666 !important;

    //     svg path {
    //       stroke: #999 !important;
    //     }
    //   }
    // }
  }
}

@media only screen and (max-width: 1199px) {
  .testinomialsContainer {
    // max-width: 940px !important;
    padding: 100px 30px;
    // padding: 60px 20px;
  }
  /* Check 1025px and add css here */
  .testinomialsSubDiv {
    gap: 40px;
  }

  .testinomialsHeading {
    font-size: 36px;
    line-height: 52px;
  }

  .testinomialsSliderMainDiv {
    gap: 15px;
  }

  .testimonialCard {
    padding: 38px 30px 40px;
    // padding: 20px;
    gap: 18px;
  }

  .testimonialTitle {
    font-size: 15px;
    line-height: 22px;
  }

  .testimonialContent {
    font-size: 14px;
    line-height: 20px;
  }

  .navButton {
    width: 44px;
    height: 44px;
    // font-size: 18px;

    // &.disabled {
    //   background: #666;
    //   cursor: not-allowed;
    //   opacity: 0.5;

    //   svg path {
    //     stroke: #999 !important;
    //   }

    //   &:hover {
    //     background: #666 !important;

    //     svg path {
    //       stroke: #999 !important;
    //     }
    //   }
    // }
  }
}
@media only screen and (max-width: 1024px) {
  .testinomialsContainer {
    max-width: 100% !important;
    // padding: 0 30px;
    // padding: 50px 20px;
  }

  /* Check 768px and add css here */
  .testinomialsSubDiv {
    gap: 30px;
  }
  .testinomialsHeading {
    font-size: 28px;
    line-height: 46px;
  }

  .testinomialsSliderMainDiv {
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .swiperContainer {
    order: 1;
    width: 100%;
  }

  .navigationButtonsContainer {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }

  .navButtonWrapperPrev,
  .navButtonWrapperNext {
    margin: 0;
  }

  .testimonialCard {
    // padding: 2;
    gap: 16px;
  }

  .testimonialTitle {
    font-size: 14px;
    line-height: 20px;
  }

  .testimonialContent {
    font-size: 13px;
    line-height: 18px;
  }

  .navButton {
    width: 40px;
    height: 40px;
    // font-size: 16px;
    position: relative;
  }
  .authorInfo {
    flex-direction: column;
    align-items: flex-start;
  }
  .authorName {
    line-height: normal;
  }
  .authorPosition {
    line-height: normal;
  }
}
@media only screen and (max-width: 767px) {
  .testinomialsContainer {
    padding: 80px 20px;
    // padding: 40px 20px;
    // padding: 0 20px;
  }
  /* Check 480px and add css here */
  .testinomialsSubDiv {
    gap: 25px;
  }
  .testinomialsHeading {
    font-size: 24px;
    line-height: 42px;
  }
  .testimonialCardClipPath {
    max-width: 469px;
    // max-width: 400px;
    margin: 0 auto;
  }
  .testinomialsSliderMainDiv {
    gap: 10px;
  }

  .navigationButtonsContainer {
    gap: 15px;
    margin-top: 0px;
  }

  .testimonialCard {
    // padding: 16px;
    gap: 14px;
  }

  .testimonialTitle {
    font-size: 13px;
    line-height: 18px;
  }

  .testimonialContent {
    font-size: 12px;
    line-height: 16px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  .authorName {
    font-size: 15px;
    line-height: 24px;
  }

  .authorPosition {
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .testinomialsHeading {
    font-size: 22px;
    line-height: 40px;
  }

  .testimonialCard {
    padding: 34px 24px 36px;
  }

  .star {
    font-size: 16px;
  }

  .navButton {
    width: 36px;
    height: 36px;
    // font-size: 14px;

    // &.disabled {
    //   background: #666;
    //   cursor: not-allowed;
    //   opacity: 0.5;

    //   svg path {
    //     stroke: #999 !important;
    //   }

    //   &:hover {
    //     background: #666 !important;

    //     svg path {
    //       stroke: #999 !important;
    //     }
    //   }
    // }
  }
  .authorInfo {
    // flex-direction: row;
    // align-items: center;
  }
}
@media only screen and (max-width: 479px) {
  .testinomialsContainer {
    // padding: 30px 20px;
    // padding: 0 15px;
  }

  .testimonialCard {
    // padding: 12px;
    gap: 12px;
  }

  .testimonialFooter {
    gap: 8px;
  }

  .avatar {
    width: 36px;
    height: 36px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 374px) {
  .testinomialsContainer {
    // padding: 25px 20px;
  }
  /* Check 320px and add css here */
  //   .testinomialsHeading {
  //     font-size: 18px;
  //     line-height: 24px;
  //   }

  .testimonialCard {
    // padding: 10px;
  }

  .navButton {
    width: 32px;
    height: 32px;
    // font-size: 12px;

    // &.disabled {
    //   background: #666;
    //   cursor: not-allowed;
    //   opacity: 0.5;

    //   svg path {
    //     stroke: #999 !important;
    //   }

    //   &:hover {
    //     background: #666 !important;

    //     svg path {
    //       stroke: #999 !important;
    //     }
    //   }
    // }
  }
}
