.taggersFeatMain {
  width: 100%;
  height: auto;
}
.PageIntroStroke {
  width: 100%;
  height: 44px;
  clip-path: polygon(
    100% 2.299%,
    100% 4.598%,
    100% 100%,
    0% 98.851%,
    0% 91.954%,
    67.083% 96.552%,
    69.896% 0%,
    100% 2.299%
  );
  background: #9f1c20;
}
.taggersFeatContainer {
  max-width: 1640px;
  margin: 0 auto;
  padding: 120px 40px;
}
.testinomialsHeading {
  color: #9f1c20;
  text-align: center;
  font-size: 54px;
  font-style: italic;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1.08px;
  text-transform: uppercase;
  span {
    color: #9f1c20;
  }
}
.taggersFeatSub {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.taggersFeatGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 100px;
}

.taggersFeatGridItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 80px;
}

.taggersFeatGridItem:nth-child(odd) {
  flex-direction: row;
}

.taggersFeatGridItem:nth-child(even) {
  flex-direction: row-reverse;
}

.gridItemContent {
  max-width: 796px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  //   padding-top: 34px;
}

.contentInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
  //   margin-top: -80px;
}

.contentHeading {
  color: #040707;
  font-size: 44px;
  font-style: italic;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.88px;
  text-transform: uppercase;
  span {
    color: #9f1c20;
  }
}
.pointsGridMainDiv {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.pointsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}
.pointTitle {
  color: #9f1c20;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  align-self: stretch;
}
.pointDescription {
  color: #636363;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.4px;
  align-self: stretch;
}

.gridItemImgWrapper {
  clip-path: polygon(
    97.372% 0%,
    12.694% 0%,
    0.034% 14.772%,
    0.034% 100%,
    66.41% 100%,
    68.46% 100%,
    100% 100%,
    100% 37.886%,
    97.372% 31.17%,
    97.372% 0%
  );
  background: #9f1c20;
  height: fit-content;
  width: fit-content;
  padding-left: 11px;
}

.gridItemImg {
  clip-path: polygon(
    98.103% 0%,
    12.817% 0%,
    0.033% 15.535%,
    0.033% 97.393%,
    63.161% 97.393%,
    67.131% 100%,
    100% 100%,
    100% 34.109%,
    98.103% 31.144%,
    98.103% 0%
  );
  flex-shrink: 0;
  img {
    min-width: 673px;
    max-width: 673px;
    min-height: 533px;
    max-height: 533px;
    object-fit: cover;
    display: block;
  }
}
.rtl {
  direction: rtl;
}
.rtl * {
  font-family: "Tajawal", sans-serif;
}
@media only screen and (max-width: 1599px) {
  .taggersFeatContainer {
    // padding: 100px 40px;
  }
  .testinomialsHeading {
    font-size: 48px;
    line-height: 64px;
  }
  .PageIntroStroke {
    height: 42px;
  }
  .gridItemContent {
    // max-width: 728px;
    // padding-top: 28px;
  }
  .taggersFeatGridItem {
    gap: 65px;
  }
  .contentInfo {
    gap: 28px;
  }

  .contentHeading {
    font-size: 38px;
    line-height: 49px;
  }

  .contentDescription {
    font-size: 18px;
    line-height: 30px;
  }

  .gridItemImg {
    img {
      min-width: 633px;
      max-width: 633px;
      min-height: 493px;
      max-height: 493px;
    }
  }
}
@media only screen and (max-width: 1366px) {
  .PageIntroStroke {
    height: 40px;
  }
  .testinomialsHeading {
    font-size: 42px;
    line-height: 58px;
  }
  .taggersFeatGrid {
    gap: 80px;
  }
  .contentInfo {
    gap: 16px;
  }

  .taggersFeatGridItem {
    gap: 50px;
    align-items: center;
  }
  .taggersFeatGridItem:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .taggersFeatGridItem:nth-child(even) {
    flex-direction: column-reverse;
  }
  .gridItemContent {
    max-width: 100%;
    // padding-top: 24px;
  }
  .pointsGridMainDiv {
    gap: 20px;
  }
  .contentHeading {
    font-size: 32px;
    line-height: 43px;
    // align-self: center;
  }
  .pointsDiv {
    gap: 8px;
  }
  .pointDescription {
    font-size: 18px;
    line-height: 28px;
  }

  .pointTitle {
    font-size: 18px;
  }

  .gridItemImg {
    // img {
    //   min-width: 543px;
    //   max-width: 543px;
    //   min-height: 403px;
    //   max-height: 403px;
    // }
  }
}
@media only screen and (max-width: 1199px) {
  .taggersFeatContainer {
    padding: 100px 30px;
    // padding: 60px 30px;
  }
  .taggersFeatSub {
    gap: 30px;
  }
  .testinomialsHeading {
    font-size: 36px;
    line-height: 52px;
  }
  .taggersFeatGrid {
    gap: 60px;
  }

  .taggersFeatGridItem {
    gap: 36px;
  }

  .gridItemContent {
    // max-width: 530px;
    // padding-top: 10px;
  }

  .contentInfo {
    // gap: 8px;
  }

  .contentHeading {
    font-size: 26px;
    line-height: 37px;
  }

  .pointDescription {
    font-size: 16px;
    line-height: 26px;
  }

  .pointTitle {
    font-size: 16px;
  }
  .gridItemImg {
    // img {
    //   min-width: 493px;
    //   max-width: 493px;
    //   min-height: 353px;
    //   max-height: 353px;
    // }
  }
  .PageIntroStroke {
    height: 38px;
  }
}

@media only screen and (max-width: 1024px) {
  .taggersFeatGrid {
    gap: 40px;
  }
  .taggersFeatSub {
    gap: 20px;
  }
  .testinomialsHeading {
    font-size: 28px;
    line-height: 46px;
  }

  .taggersFeatContainer {
    // padding: 60px 30px;
  }

  .taggersFeatGridItem {
    gap: 30px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  //   .taggersFeatGridItem:nth-child(odd) {
  //     flex-direction: column-reverse;
  //   }

  //   .taggersFeatGridItem:nth-child(even) {
  //     flex-direction: column-reverse;
  //   }

  .gridItemContent {
    // max-width: 530px;
    // padding-top: 0px;
  }
  .contentHeading {
    font-size: 22px;
    line-height: 33px;
  }

  .contentInfo {
    // margin-top: -60px;
  }

  .gridItemImg {
    img {
      min-width: 530px;
      max-width: 530px;
      min-height: 419px;
      max-height: 419px;
    }
  }
  .PageIntroStroke {
    height: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .taggersFeatGrid {
    gap: 32px;
  }
  .taggersFeatSub {
    gap: 16px;
  }
  .testinomialsHeading {
    font-size: 24px;
    line-height: 42px;
  }

  .taggersFeatContainer {
    padding: 80px 20px;
    // padding: 60px 20px;
  }

  //   .contentHeading {
  //     font-size: 24px;
  //     line-height: 35px;
  //   }

  .contentDescription {
    font-size: 15px;
    line-height: 27px;
  }

  .gridItemContent {
    // max-width: 500px;
  }
  .taggersFeatGridItem {
    gap: 20px;
  }

  .gridItemImg {
    img {
      min-width: 500px;
      max-width: 500px;
      min-height: 395px;
      max-height: 395px;
    }
  }

  .PageIntroStroke {
    height: 32px;
  }
  .pointsGridMainDiv {
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
  }
}

@media only screen and (max-width: 575px) {
  .taggersFeatGrid {
    gap: 24px;
  }
  .taggersFeatSub {
    gap: 10px;
  }
  .testinomialsHeading {
    font-size: 22px;
    line-height: 40px;
  }

  //   .contentHeading {
  //     font-size: 22px;
  //     line-height: 33px;
  //   }

  .gridItemContent {
    // max-width: 428px;
  }

  .gridItemImg {
    img {
      min-width: 428px;
      max-width: 428px;
      min-height: 338px;
      max-height: 338px;
    }
  }
  .PageIntroStroke {
    height: 28px;
  }
}
@media only screen and (max-width: 479px) {
  //   .contentHeading {
  //     font-size: 20px;
  //     line-height: 31px;
  //   }

  .gridItemContent {
    max-width: 100%;
  }

  .gridItemImg {
    img {
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
    }
  }

  .contentInfo {
    // margin-top: -50px;
  }
}
@media only screen and (max-width: 374px) {
  .taggersFeatContainer {
    // padding: 25px 20px;
  }
}
