.manualsMain {
  width: 100%;
  height: auto;
  background: #fff;
}

.manualsContainer {
  max-width: 1640px;
  margin: 0 auto;
  padding: 120px 40px;
}

.manualsSub {
  width: 100%;
}

.manualsDescription {
  margin: 0 auto;
  margin-bottom: 112px;
  p {
    color: #636363;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.44px;
  }
}

.manualsPDFMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
  // padding-top: 112px;
}

// Tab Navigation
.tabNavigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.readmoreBtnWrapper {
  // margin-top: 10px;
  width: fit-content;
  background: #9f1c20;
  padding: 1.1px;
  transition: all 0.6s ease;
  // clip-path: polygon(
  //   98.522% 0.917%,
  //   7.143% 0.917%,
  //   0.493% 23.853%,
  //   0.493% 92.661%,
  //   83.99% 92.661%,
  //   86.453% 100%,
  //   100% 100%,
  //   100% 29.358%,
  //   98.522% 23.853%,
  //   98.522% 0.917%
  // );
  clip-path: polygon(
    99.6% 99.4%,
    68.8% 99.4%,
    68.7% 99.4%,
    64.8% 97.6%,
    0.4% 97.6%,
    0.4% 22.8%,
    0.5% 22.7%,
    8% 0.7%,
    8.1% 0.6%,
    98.4% 0.6%,
    98.4% 56.1%,
    99.6% 62.5%,
    99.6% 62.6%,
    99.6% 99.4%
  );

  &:hover {
    background: #9f1c20;
    .tabButton {
      background: #9f1c20;
      transition: all 0.6s ease;
    }
    transition: all 0.6s ease;
    .tabText {
      color: #fff;
    }
  }

  &.active {
    background: #9f1c20;
    .tabButton {
      background: #9f1c20;
      transition: all 0.6s ease;
    }
    .tabText {
      color: #fff;
    }
  }
}
.noManualsMsg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  // padding: 40px;
  color: #636363;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  img {
    width: 32px;
    height: 32px;
  }
}
.tabButton {
  width: fit-content;
  transition: all 0.6s ease;
  padding: 28px 55px 33px 55px;
  background: #fff;
  outline: none;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  display: block;
  // clip-path: polygon(
  //   98.522% 0.917%,
  //   7.143% 0.917%,
  //   0.493% 23.853%,
  //   0.493% 92.661%,
  //   83.99% 92.661%,
  //   86.453% 100%,
  //   100% 100%,
  //   100% 29.358%,
  //   98.522% 23.853%,
  //   98.522% 0.917%
  // );
  clip-path: polygon(
    99.6% 99.4%,
    68.8% 99.4%,
    68.7% 99.4%,
    64.8% 97.6%,
    0.4% 97.6%,
    0.4% 22.8%,
    0.5% 22.7%,
    8% 0.7%,
    8.1% 0.6%,
    98.4% 0.6%,
    98.4% 56.1%,
    99.6% 62.5%,
    99.6% 62.6%,
    99.6% 99.4%
  );
}

.tabText {
  color: #9f1c20;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.44px;
  text-transform: uppercase;
}
// Manual Content
.manualsContent {
  width: 100%;
  // padding: 40px;
}

.manualSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 0;
  }
}

.sectionHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.sectionTitle {
  color: #040707;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.44px;
  text-transform: uppercase;
}

.sectionSubtitle {
  color: #636363;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  align-self: stretch;
}

.manualsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.manualItem {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border: 1px solid rgba(99, 99, 99, 0.22);
  background: rgba(99, 99, 99, 0.06);
  transition: all 0.3s ease;

  // &:hover {
  //   background: #f0f1f2;
  //   transform: translateY(-2px);
  //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  // }
}

.manualLeft {
  display: flex;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
}
.manualsImgTextDiv {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

.categoryBadge {
  color: #040707;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  // white-space: nowrap;
  // min-width: fit-content;
  min-width: 126px;
  max-width: 126px;
}

.pdfIcon {
  width: 36px;
  height: 36px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.manualTitle {
  flex: 1 0 0;
  color: #636363;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}

.manualRight {
  display: flex;
  // width: 128px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  // flex-shrink: 0;
  width: max-content;
}

.languageDropdown {
  position: relative;
}

.dropdownButton {
  display: flex;
  padding: 6px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(99, 99, 99, 0.24);
  background: #636363;
  color: #e6e6e6;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 60px;

  &:hover {
    // border-color: #9f1c20;
    // background: #fefefe;
  }

  svg {
    transition: transform 0.2s ease;

    &.rotated {
      transform: rotate(180deg);
    }
  }
}
.verticleLine {
  width: 1px;
  height: 22px;
  background: #fff;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid rgba(99, 99, 99, 0.24);
  background: #636363;
  // border-radius: 6px;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
  min-width: 120px;
  margin-top: 4px;
}

.dropdownItem {
  padding: 10px 16px;
  color: #e6e6e6;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  transition: #636363 0.2s ease;

  &:hover {
    background: #f8f9fa;
    color: #9f1c20;
  }
}

.downloadButton {
  display: flex;
  padding: 6px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background: #9f1c20;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  img {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
  }

  &:hover {
    // background: #7d1519;
    // transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.PageIntroStroke {
  width: 100%;
  height: 44px;
  clip-path: polygon(
    100% 2.299%,
    100% 4.598%,
    100% 100%,
    0% 98.851%,
    0% 91.954%,
    67.083% 96.552%,
    69.896% 0%,
    100% 2.299%
  );
  background: #9f1c20;
}
.rtl {
  direction: rtl;
}
.rtl * {
  font-family: "Tajawal", sans-serif;
}
// Responsive styles
@media only screen and (max-width: 1599px) {
  .manualsDescription {
    margin-bottom: 95px;
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .manualSection {
    margin-bottom: 85px;
    gap: 36px;
  }
  .manualsList {
    gap: 18px;
  }
  .sectionTitle {
    font-size: 20px;
  }
  .manualLeft {
    gap: 34px;
  }
  .PageIntroStroke {
    height: 42px;
  }
  .tabButton {
    padding: 24px 34px 28px 34px;
  }
  .tabText {
    font-size: 20px;
  }
  .tabNavigation {
    gap: 18px;
  }
  .manualsPDFMainDiv {
    gap: 70px;
  }
}

@media only screen and (max-width: 1366px) {
  .manualsDescription {
    margin-bottom: 80px;
    p {
      font-size: 18px;
      line-height: 28px;
    }
  }
  .manualSection {
    margin-bottom: 70px;
    gap: 32px;
  }
  .manualsList {
    gap: 16px;
  }
  .sectionTitle {
    font-size: 18px;
  }
  .manualItem {
    padding: 18px;
  }
  .manualLeft {
    gap: 28px;
  }

  .manualTitle {
    font-size: 16px;
    line-height: 26px;
  }
  .PageIntroStroke {
    height: 40px;
  }

  .tabButton {
    padding: 24px 28px 24px 28px;
  }

  .tabText {
    font-size: 18px;
  }

  .tabNavigation {
    gap: 16px;
  }
  .pdfIcon {
    width: 34px;
    height: 34px;
  }
  .manualsPDFMainDiv {
    gap: 60px;
  }
}

@media only screen and (max-width: 1199px) {
  .manualsContainer {
    padding: 100px 30px;
  }
  .manualSection {
    margin-bottom: 55px;
    gap: 28px;
  }
  .manualsDescription {
    margin-bottom: 65px;
    p {
      font-size: 16px;
      line-height: 26px;
    }
  }
  .manualsList {
    gap: 14px;
  }
  .sectionTitle {
    font-size: 16px;
  }
  .sectionSubtitle {
    font-size: 15px;
    line-height: 20px;
  }
  .manualLeft {
    gap: 22px;
  }

  .manualItem {
    padding: 16px;
  }
  .PageIntroStroke {
    height: 38px;
  }

  .tabButton {
    padding: 22px 42px 22px 42px;
  }
  .tabText {
    font-size: 16px;
  }
  .tabNavigation {
    gap: 14px;
  }
  .pdfIcon {
    width: 32px;
    height: 32px;
  }
  .manualsPDFMainDiv {
    gap: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .manualItem {
    // flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .manualSection {
    margin-bottom: 40px;
    gap: 24px;
  }
  .manualsDescription {
    // margin-bottom: 50px;
  }
  .manualLeft {
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
  .categoryBadge {
    min-width: none;
    max-width: fit-content;
  }
  // .pdfIcon {
  //   width: 28px;
  //   height: 28px;
  // }

  .PageIntroStroke {
    height: 36px;
  }
  .tabButton {
    padding: 22px 36px 22px 36px;
  }
  .tabNavigation {
    gap: 12px;
  }
  .pdfIcon {
    width: 30px;
    height: 30px;
  }
  .manualsPDFMainDiv {
    gap: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .manualsContainer {
    padding: 80px 20px;
  }
  .manualSection {
    margin-bottom: 35px;
    gap: 20px;
  }
  .manualsDescription {
    // margin-bottom: 35px;
  }
  .manualItem {
    flex-direction: column;
    gap: 12px;
  }
  .manualsList {
    gap: 12px;
  }
  .tabNavigation {
    gap: 10px;
    flex-wrap: wrap;
  }

  .PageIntroStroke {
    height: 32px;
  }
  .tabButton {
    padding: 20px 30px 20px 30px;
  }
  .tabText {
    font-size: 15px;
  }
  .sectionHeader {
    gap: 8px;
  }
}

@media only screen and (max-width: 575px) {
  .PageIntroStroke {
    height: 28px;
  }

  .tabButton {
    padding: 16px 28px 16px 28px;
  }
  .dropdownButton {
    padding: 4px;
  }
  .manualsDescription {
    // margin-bottom: 20px;
  }
  .manualSection {
    margin-bottom: 20px;
    gap: 16px;
  }
  .downloadButton {
    align-self: center;
    img {
      width: 18px;
      height: 18px;
    }
  }
  .pdfIcon {
    width: 32px;
    height: 32px;
  }
  .tabNavigation {
    gap: 8px;
    // flex-direction: column;
  }
  .manualsPDFMainDiv {
    gap: 30px;
  }
}

@media only screen and (max-width: 479px) {
  .tabNavigation {
    overflow-x: auto;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .readmoreBtnWrapper {
    flex-shrink: 0;
  }

  .manualLeft {
    gap: 8px;
  }
  .tabButton {
    padding: 12px 24px 12px 24px;
  }
}

@media only screen and (max-width: 375px) {
}
