.doaMain {
  width: 100%;
  height: auto;
}

.doaContainer {
  max-width: 1640px;
  margin: 0 auto;
  padding: 120px 40px 0 40px;
}

.doaSub {
  width: 100%;
}

.doaDescription {
  margin: 0 auto;
  max-width: 1520px;
  p {
    color: #636363;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.44px;
  }
}

.doaGrid {
  margin-top: 71px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 42px;
}

.doaGridItemWrapper {
  width: 100%;
  clip-path: polygon(
    98.825% 0%,
    7.855% 0%,
    0% 12.078%,
    0% 99.941%,
    79.257% 99.941%,
    81.781% 100%,
    100% 100%,
    100% 29.459%,
    98.825% 27.118%,
    98.825% 13.559%,
    98.825% 0%
  );
  padding: 10px 10px 0 0;
  background: #9f1c20;
}

.doaGridItem {
  clip-path: polygon(
    98.809% 0%,
    7.96% 0%,
    0% 12.406%,
    0% 99.94%,
    78.981% 99.94%,
    81.538% 100%,
    100% 100%,
    100% 30.26%,
    98.809% 27.855%,
    98.809% 0%
  );

  img {
    clip-path: polygon(
      98.809% 0%,
      7.96% 0%,
      0% 12.406%,
      0% 99.94%,
      78.981% 99.94%,
      81.538% 100%,
      100% 100%,
      100% 30.26%,
      98.809% 27.855%,
      98.809% 0%
    );

    display: block;
    width: 100%;
    min-height: 368px;
    max-height: 368px;
    object-fit: cover;
  }
}

.doaAIM {
  margin-top: 88px;
  width: 100%;
}

.doaAIMHeading {
  h3 {
    color: #040707;
    text-align: center;
    font-size: 54px;
    font-style: italic;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.08px;
    text-transform: uppercase;

    span {
      color: #9f1c20;
    }
  }
}

.doaAIMGrid {
  margin-top: 52px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 40px;
}

.doaAIMGridItem {
  position: relative;
  clip-path: polygon(
    0.03% 15.78%,
    0.05% 15.76%,
    9.61% 0.23%,
    9.63% 0.22%,
    98.96% 0%,
    98.96% 31.4%,
    99.87% 34.3%,
    99.88% 34.4%,
    99.88% 99.9%,
    64.5% 99.9%,
    64.5% 99.9%,
    63.07% 97.7%,
    0.03% 97.7%
  );

  video {
    clip-path: polygon(
      0.03% 15.78%,
      0.05% 15.76%,
      9.61% 0.23%,
      9.63% 0.22%,
      98.96% 0%,
      98.96% 31.4%,
      99.87% 34.3%,
      99.88% 34.4%,
      99.88% 99.9%,
      64.5% 99.9%,
      64.5% 99.9%,
      63.07% 97.7%,
      0.03% 97.7%
    );

    display: block;
    width: 100%;
    min-height: 345px;
    max-height: 345px;
    object-fit: cover;
  }
}

.videoPause {
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  clip-path: polygon(
    0.03% 15.78%,
    0.05% 15.76%,
    9.61% 0.23%,
    9.63% 0.22%,
    98.96% 0%,
    98.96% 31.4%,
    99.87% 34.3%,
    99.88% 34.4%,
    99.88% 99.9%,
    64.5% 99.9%,
    64.5% 99.9%,
    63.07% 97.7%,
    0.03% 97.7%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
    max-width: 49px;
  }
}

.rtl {
  direction: rtl;
}

.rtl * {
  font-family: "Tajawal", sans-serif;
}

@media only screen and (max-width: 1599px) {
  .doaDescription {
    max-width: 1400px;
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .doaGrid {
    gap: 60px 40px;
  }

  .doaGridItem {
    img {
      min-height: 328px;
      max-height: 328px;
    }
  }

  .doaAIM {
    margin-top: 80px;
  }

  .doaAIMHeading {
    h3 {
      font-size: 48px;
      line-height: 64px;
    }
  }

  .doaAIMGrid {
    gap: 60px 40px;
  }

  .doaAIMGridItem {
    video {
      min-height: 315px;
      max-height: 315px;
    }
  }

  .videoPause {
    img {
      max-width: 48px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .doaDescription {
    max-width: 1260px;
    p {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .doaGrid {
    gap: 52px 36px;
  }

  .doaGridItem {
    img {
      min-height: 300px;
      max-height: 300px;
    }
  }

  .doaAIM {
    margin-top: 76px;
  }

  .doaAIMHeading {
    h3 {
      font-size: 42px;
      line-height: 58px;
    }
  }

  .doaAIMGrid {
    gap: 52px 36px;
  }

  .doaAIMGridItem {
    video {
      min-height: 290px;
      max-height: 290px;
    }
  }

  .videoPause {
    img {
      max-width: 44px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .doaContainer {
    padding: 100px 30px 0 30px;
  }

  .doaDescription {
    max-width: 1024px;
    p {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .doaGrid {
    gap: 48px 32px;
  }

  .doaGridItem {
    img {
      min-height: 270px;
      max-height: 270px;
    }
  }

  .doaAIM {
    margin-top: 72px;
  }

  .doaAIMHeading {
    h3 {
      font-size: 36px;
      line-height: 52px;
    }
  }

  .doaAIMGrid {
    gap: 48px 32px;
  }

  .doaAIMGridItem {
    video {
      min-height: 260px;
      max-height: 260px;
    }
  }

  .videoPause {
    img {
      max-width: 42px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .doaGrid {
    gap: 44px 32px;
  }

  .doaGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .doaGridItemWrapper {
    min-width: 568px;
    max-width: 568px;
    margin: 0 auto;
  }

  .doaGridItem {
    img {
      min-height: 290px;
      max-height: 290px;
    }
  }

  .doaAIM {
    margin-top: 68px;
  }

  .doaAIMHeading {
    h3 {
      font-size: 28px;
      line-height: 46px;
    }
  }

  .doaAIMGrid {
    gap: 44px 32px;
  }

  .doaAIMGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .doaAIMGridItem {
    min-width: 568px;
    max-width: 568px;
    margin: 0 auto;
    video {
      min-height: 280px;
      max-height: 280px;
      width: 100%;
    }
  }

  .videoPause {
    img {
      max-width: 42px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .doaContainer {
    padding: 80px 20px 0 20px;
  }

  .doaGrid {
    gap: 40px 32px;
  }

  .doaGridItemWrapper {
    max-width: 500px;
    min-width: 500px;
  }

  .doaGridItem {
    img {
      min-height: 250px;
      max-height: 250px;
    }
  }

  .doaAIM {
    margin-top: 64px;
  }

  .doaAIMHeading {
    h3 {
      font-size: 24px;
      line-height: 42px;
    }
  }

  .doaAIMGrid {
    gap: 40px 32px;

    margin-top: 40px;
  }

  .doaAIMGridItem {
    min-width: 500px;
    max-width: 500px;
    video {
      min-height: 250px;
      max-height: 250px;
    }
  }

  .videoPause {
    img {
      max-width: 40px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .doaGrid {
    gap: 40px 32px;
  }

  .doaGridItemWrapper {
    width: 90%;
    min-width: 0;
  }

  .doaGridItem {
    img {
      min-height: 230px;
      max-height: 230px;
    }
  }

  .doaAIM {
    margin-top: 60px;
  }

  .doaAIMHeading {
    h3 {
      font-size: 22px;
      line-height: 40px;
    }
  }

  .doaAIMGrid {
    gap: 40px 32px;
  }

  .doaAIMGridItem {
    width: 90%;
    min-width: 0;
    video {
      min-height: 230px;
      max-height: 230px;
    }
  }

  .videoPause {
    img {
      max-width: 36px;
    }
  }
}

@media only screen and (max-width: 479px) {
  .doaGrid {
    gap: 40px 32px;
  }

  .doaGridItemWrapper {
    width: 100%;
  }

  .doaGridItem {
    img {
      max-height: 230px;
      min-height: 230px;
    }
  }

  .doaAIM {
    margin-top: 56px;
  }

  .doaAIMHeading {
    h3 {
      font-size: 20px;
      line-height: 38px;
    }
  }

  .doaAIMGrid {
    gap: 40px 32px;
  }

  .doaAIMGridItem {
    width: 100%;
    video {
      min-height: 230px;
      max-height: 230px;
    }
  }

  .videoPause {
    img {
      max-width: 36px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .doaGridItem {
    img {
      max-height: 190px;
      min-height: 190px;
    }
  }

  .doaAIMGridItem {
    video {
      min-height: 190px;
      max-height: 190px;
    }
  }
}
