.PageIntroMain {
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(216, 216, 216, 0.3) 0%,
      rgba(216, 216, 216, 0) 46.96%
    ),
    #000;

  background-repeat: no-repeat;
  background-size: cover;
}

.PageIntroContainer {
  max-width: 1640px;
  margin: 0 auto;
  padding: 214px 40px 0 40px;
}
.PageIntroSub {
  width: 100%;
}

.PageIntroHeading {
  h1 {
    color: #fff;
    margin: 0 auto;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: -1px;
    text-transform: uppercase;
    // margin-top: 10px;
    width: fit-content;
  }

  p {
    background: linear-gradient(90deg, #0575d0 0%, #cbccd1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 32px;
    text-transform: uppercase;
    padding-left: 30px;
    width: fit-content;
    margin: 20px auto;
  }
}

.PageIntroIcon {
  width: fit-content;
  margin: 0 auto;

  img {
    max-width: 253px;
    display: block;
  }
}

.PageIntroStroke {
  margin-top: 90px;
  width: 100%;

  img {
    display: block;
    height: 50px;
    width: 100%;
  }
}

.rtl {
  direction: rtl;

  .PageIntroHeading {
    p {
      padding-left: 0;
    }
  }
}

.rtl * {
  font-family: "Tajawal", sans-serif;
}

@media only screen and (max-width: 1599px) {
  .PageIntroContainer {
    padding: 200px 40px 0 40px;
  }

  .PageIntroHeading {
    h1 {
      font-size: 44px;
      line-height: 76px;
    }

    p {
      font-size: 18px;
      letter-spacing: 28px;
      padding-left: 30px;
    }
  }

  .PageIntroStroke {
    img {
      height: 46px;
    }
  }

  .PageIntroIcon {
    img {
      max-width: 219px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .PageIntroHeading {
    h1 {
      font-size: 38px;
      line-height: 70px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 22px;
      padding-left: 20px;
      margin: 18px auto;
    }
  }

  .PageIntroIcon {
    img {
      max-width: 190px;
    }
  }

  .PageIntroStroke {
    img {
      height: 42px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .PageIntroContainer {
    padding: 180px 30px 0 30px;
  }

  .PageIntroHeading {
    h1 {
      font-size: 32px;
      line-height: 64px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 16px;
      padding-left: 20px;
      margin: 16px auto;
    }
  }

  .PageIntroIcon {
    img {
      max-width: 170px;
    }
  }

  .PageIntroStroke {
    img {
      height: 40px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .PageIntroContainer {
    padding: 140px 30px 0 30px;
  }

  .PageIntroHeading {
    h1 {
      font-size: 26px;
      line-height: 58px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 12px;
      padding-left: 13px;
      margin: 12px auto;
    }
  }

  .PageIntroIcon {
    img {
      max-width: 160px;
    }
  }

  .PageIntroStroke {
    img {
      height: 36px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .PageIntroHeading {
    h1 {
      font-size: 24px;
      line-height: 56px;
    }

    p {
      font-size: 15px;
      line-height: 29px;
      letter-spacing: 10px;
      padding-left: 11px;
      margin: 10px auto;
    }
  }

  .PageIntroContainer {
    padding: 140px 20px 0 20px;
  }

  .PageIntroStroke {
    img {
      height: 32px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .PageIntroHeading {
    h1 {
      font-size: 22px;
      line-height: 54px;
    }
  }

  .PageIntroStroke {
    img {
      height: 28px;
    }
  }
}

@media only screen and (max-width: 479px) {
  .PageIntroStroke {
    img {
      height: 26px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .PageIntroStroke {
    img {
      height: 24px;
    }
  }
}
